body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    margin-top: 50px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


.form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.tierList-container {
    width: 800px;
    margin: auto;
    text-align: center;
}

.input-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tier {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
}

.tier h2 {
    margin: 0;
    text-align: left;
}

.tier-box {
    min-height: 100px;
    padding: 10px;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.tier-item {
    padding: 10px;
    background-color: white;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: grab;
    height: 50px;
    width:  50px;
}
.tier.S {
    background-color: #ff4d4d;
}

.tier.A {
    background-color: #ff9933;
}

.tier.B {
    background-color: #ffcc33;
}

.tier.C {
    background-color: #99cc33;
}

.tier.D {
    background-color: #3399ff;
}